<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Man's Best Friend Home</title>
  <link rel="shortcut icon" href="https://drive.google.com/uc?export=view&id=1XO4gDmbYj4rXodRn7dY2CEl5Yr2tYybr"
    type="image/x-icon">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/public/css/home_style.css">
</head>

<body>
  <header class="main-header">
    <div class="main-header__container">
      <h1 class="main-header__title"> Man´s Best Friend</h1>
      <span class="icon-menu" id="btn-menu"><i class='bx bx-menu'></i></span>
      <nav class="main-nav" id="main-nav">
        <ul class="menu">
          <li class="menu__item"><a href="" class="menu__link">INICIO</a></li>
          <li class="menu__item"><a href="/login" class="menu__link">INICIA SESION</a></li>
          <li class="menu__item"><a href="/registro-cliente" class="menu__link">CREAR CUENTA</a></li>
          <li class="menu__item"><a href="" class="menu__link">NOSOTROS</a></li>
          <li class="menu__item"><a href="/registro-empleados" class="menu__link">TRABAJA CON NOSOTROS</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container-slider">
    <div class="slider" id="slider">
      <div class="slider__section">
        <img src="./public/img/img (1).jpg" alt="" class="slider__img">
        <div class="slider__content">
          <h2 class="slider__title">Paseos</h2>
          <p class="slider__txt">Disponible</p>
          <a href="./venta_producto/index.html" class="btn-shop">Solicita Ahora</a>
        </div>
      </div>
      <div class="slider__section">
        <img src="./public/img/img (2).jpg" alt="" class="slider__img">
        <div class="slider__content">
          <h2 class="slider__title">Corte de Pelo</h2>
          <p class="slider__txt">Seccion no disponible por ahora</p>
          <a href="" class="btn-shop">Solicita Ahora</a>
        </div>
      </div>
      <div class="slider__section">
        <img src="./public/img/img (3).jpg" alt="" class="slider__img">
        <div class="slider__content">
          <h2 class="slider__title">Baño</h2>
          <p class="slider__txt">Seccion no disponible por ahora</p>
          <a href="" class="btn-shop">Solicita Ahora</a>
        </div>
      </div>
      <div class="slider__section">
        <img src="./public/img/img (4).jpg" alt="" class="slider__img">
        <div class="slider__content">
          <h2 class="slider__title">Guarderia</h2>
          <p class="slider__txt">Seccion no disponible por ahora</p>
          <a href="" class="btn-shop">Solicita Ahora</a>
        </div>
      </div>
    </div>
    <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
    <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
  </div>
  <section class="container__testimonials">
    <h2 class="section__title">Sobre Nosotros</h2>
    <p class="testimonial__txt">Somos una empresa dedicada al cuidado de mascotas, nuestro compromiso
      es cuidar
    </p>
  </section>
  <main class="main">
    <div class="container">
      <h2 class="main-title">Paseadores</h2>
      <section class="container-products">
        <div class="product">
          <img src="./public/img_walker/walker (1).jpg" alt="" class="product__img">
          <div class="product__description">
            <h3 class="product__title">Paseador 1</h3>
            <span class="product__price">Info</span>
          </div>
          <i class="product__icon fas fa-cart-plus"></i>
        </div>
        <div class="product">
          <img src="./public/img_walker/walker (2).jpg" alt="" class="product__img">
          <div class="product__description">
            <h3 class="product__title">Paseador 2</h3>
            <span class="product__price">Info</span>
          </div>
          <i class="product__icon fas fa-cart-plus"></i>
        </div>
        <div class="product">
          <img src="./public/img_walker/walker (3).jpg" alt="" class="product__img">
          <div class="product__description">
            <h3 class="product__title">Paseador 3</h3>
            <span class="product__price">Info</span>
          </div>
          <i class="product__icon fas fa-cart-plus"></i>
        </div>
        <div class="product">
          <img src="./public/img_walker/walker (4).jpg" alt="" class="product__img">
          <div class="product__description">
            <h3 class="product__title">Paseador 4</h3>
            <span class="product__price">Info</span>
          </div>
          <i class="product__icon fas fa-cart-plus"></i>
        </div>
      </section>


    </div>
  </main>
  <footer class="main-footer">
    <!-- <div class="footer__section">
      <h2 class="footer__title"></h2>
      <p class="footer__txt"></p>
    </div> -->
    <div class="footer__section">
      <h2 class="footer__title">Acerca de</h2>
      <a href="" class="footer__link">Inicio</a>
      <a href="" class="footer__link">Nosotros</a>
      <a href="" class="footer__link">Inicia Sesion</a>
      <a href="" class="footer__link">Crear Cuenta</a>
      <a href="" class="footer__link">Contacto</a>
    </div>
    <div class="footer__section">
      <h2 class="footer__title">Contacto</h2>
      <p class="footer__txt">Celular : +57 310 1234567</p>
      <p class="footer__txt">Correo : mansbestfriend360@gmail.com</p>
    </div>
    <div class="footer__section">
      <h2 class="footer__title">Correo</h2>
      <p class="footer__txt">Ingresa tu correo para recibir notificaciones</p>
      <input type="email" class="footer__input" placeholder="Ingresa correo">
    </div>
    <p class="copy">© 2022 Man's Best Friend. All Rights Reserved</p>
  </footer>

  <script src="/public/js/home.js"></script>
</body>

</html>